html {
    scroll-behavior: smooth !important;
    /* not supported by safari or IE */
}
h1 {
    font-family: truenoSB, serif;

}

.navbar-nav a{
    font: 20px truenoSB;
}

/* flexbox CSS for Services and Clients */

.flex1 {
    display: flex;
    -webkit-flex: 1;
}
.row-layout h1{
    padding-left: 20px;
}
.flex1-child {
    flex: 3;

}

.flex1 img {
    width:calc(33vh - 10px);
    flex: 1;
}


/* for colour changing borders */

.gradient-border-bottom {
    --borderWidth: 3px;
    background: none; /* Remove the background */
    position: relative;
    border-radius: var(--borderWidth);
    overflow: hidden; /* Hide any overflowing content */
}

.gradient-border-bottom:after {
    content: '';
    position: absolute;
    bottom: calc(calc(-1 * var(--borderWidth)) + 10px); /* Place the element at the bottom */
    left: calc(-1 * var(--borderWidth));
    height: var(--borderWidth); /* Set the height to the desired border width */
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #7dd757, #61b658,#0c515b);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -5;
    animation: animatedgradient 2s ease alternate infinite;
    background-size: 300% 300%;
}

.services-flex{
    display: flex;
    justify-content: center;
    flex: 1;
}

.services-flex-child{
    margin: auto;
    flex:1;
    text-align: center;
    /* make hidden */

}
.services-flex-child p{
    /* we want the text to hug the bottom */
    padding-bottom: 0;

    margin-bottom: 10px;
    visibility: hidden;

}
.client-logo{
    width: 30%;
}

/* Contact CSS*/

.contact {
    width: 50%;
    margin: auto;


}
.contact-button{
    border: 20px solid #7ed957;
    background-color: #7ed957;
    border-radius: 10px;
    width: 30%;
    text-align: center;
    margin: auto;
    white-space: nowrap;
    overflow: hidden;
    font-family: truenoSB;
}

.contact-button p{
    font-size: 1em;
    font-family: truenoSB;
    margin: 0;
}

/* Hexagon CSS */
.hex{
    position: absolute;
}
.hex::before {
    content: "\2B22";
    font-size: 50px;
}









@font-face {
    font-family: truenoSB;
    src: url("../resources/fonts/trueno/truenosbd.otf") format("opentype");
}


@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}





















/* photobanner css (not used) */


.photobanner_container {
    width: 100%;
    overflow: hidden;
    margin: 10px auto;
    background: white;
}
.photobanner {
    height: 250px;
    /* width is basically how many images relative to screen width */
    width: 3550px;
    margin-bottom: 5px;
    font-size:0;
}
.photobanner img {
    margin-right: 10px;

    height:250px;
    width: 150px;

}

.photobanner img{
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.photobanner img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);

    cursor: pointer;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}


.first_banner_img{
    animation: bannermove 30s linear infinite;
    -webkit-animation: bannermove 2s linear infinite;
}
/* 0% calculated by img amount times (img width + space between imgs (margin right)) */
@keyframes "bannermove"{
    0% {

        margin-left:0px;
    }
    100%{

        margin-left:-1870px;
    }
}

@-webkit-keyframes "bannermove" {
    0% {

        margin-left:0px;
    }
    100%{
        margin-left:-545px;
    }
}

