.fullwidth_element {
    border-radius: 20px;
    height: calc(33vh - 20px); /* 33% of viewport height minus 20px for padding */
    width: auto;
    display: flex;
    padding: 30px;
    margin: 10px 30px;
    background-color: #6161ee;
    display: flex;
    justify-content: center;
    align-items: center;

}

.fullwidth_element button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.fullwidth_text_element{

    border-radius: 20px;
    height: calc(33vh - 20px); /* 33% of viewport height minus 20px for padding */
    width: auto;
    display: flex;
    padding: 30px;
    margin: 10px 30px;

    background: linear-gradient(45deg, #6161ee, #a561ee, #cf5ee0);
    background-size: 400% 400%;
    animation: background-gradient 10s linear infinite;
}
.fullwidth_text_element h1{
    font-size: 50px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Arial;

}

#flex1{
    height: calc(33vh - 20px); /* 33% of viewport height minus 20px for padding */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#flex1 img {
    padding: 10px 10px;
    margin: 0px 20px;
    width: 400px;

}
#flex1 img:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);

    transition: 1s;
    -webkit-transition: 1s;


    cursor: pointer;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}












@-webkit-keyframes "background-gradient" {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}




























.photobanner_container {
    width: 100%;
    overflow: hidden;
    margin: 10px auto;
    background: white;
}
.photobanner {
    height: 250px;
    /* width is basically how many images relative to screen width */
    width: 3550px;
    margin-bottom: 5px;
    font-size:0;
}
.photobanner img {
    margin-right: 10px;

    height:250px;
    width: 150px;

}

.photobanner img{
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.photobanner img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);

    cursor: pointer;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}


.first_banner_img{
    animation: bannermove 30s linear infinite;
    -webkit-animation: bannermove 2s linear infinite;
}
/* 0% calculated by img amount times (img width + space between imgs (margin right)) */
@keyframes "bannermove"{
    0% {

        margin-left:0px;
    }
    100%{

        margin-left:-1870px;
    }
}

@-webkit-keyframes "bannermove" {
    0% {

        margin-left:0px;
    }
    100%{
        margin-left:-545px;
    }
}

